body {
  padding: 0;
  margin: 0;
  background: #f7f9fb;
}


/*--- navigation bar ---*/
.navbar {
  background:#222629;
}

.nav-text{
  color: #f7f9fb;
}
.nav-link,
.navbar-brand{
  color: #f7f9fb;
  cursor: pointer;
  margin-right: 1em !important;
}

.navbar-brand:hover,
.nav-link:hover{
   color: #6b6e70;
}

.navbar-collapse {
  justify-content: flex-end;
}


.description {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description p {
  color: #6b6e70;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
