{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card" style="width:40rem;height:40rem;margin:0 auto;">
    <div class="card-body">
<h1 style="color:#86c232">{{object.title}}</h1>
<p style="color: #6b6e70;font-size:1rem;"><i>{{ object.description}}</i></p>
<table class="table table-bordered table-dark table-striped">
	<tr>
	<th>Cause</th>
	<td>{{ object.cause }}</td>
	</tr>
	<tr>
	<th>Date</th>
	<td>{{ object.date }}</td>
	</tr>
	<tr>
	<th>City</th>
	<td>{{ object.city }}</td>
	</tr>
	<tr>
	<th>State</th>
	<td>{{ object.state}}</td>
	</tr>
	<tr>
	<th>Volunteers Required</th>
	<td>{{ object.num_req }}</td>
	</tr>
	<tr>
	<th>Volunteers Registered</th>
	<td>{{ num_registered }}</td>
	</tr>
</table>

<a class="btn btn-primary " style="background-color:#86c232;border:#86c232;" href="{% url 'orgs:events' %}"> Back </a>
<a class="btn btn-primary " style="background-color:#86c232;border:#86c232;" href="{% url 'orgs:update_event' object.pk %}"> Update </a>
<a class="btn btn-primary " style="background-color:#86c232;border:#86c232;" href="{% url 'orgs:delete_event' object.pk %}"> Delete </a>

{% endblock %}